.home {
  max-inline-size: 48rem;
  margin-inline: auto;
}

.home-container img {
  margin-block-start: 5.6rem;
  margin-block-end: 2.5rem;
  margin-inline-start: 5.9rem;
}

.home-container h1, p, a {
  text-align: center;
}

.home-container h1 {
  margin-block-end: 2.5rem;
}

.home-container p {
  margin-block-end: 2.2rem;
  block-size: 4.7rem;
  height: fit-content;
}

@media (max-width: 478px) {
  .home-container {
    padding-inline: 2rem;
  }
  
  .home-container img {
    margin-inline: auto;
  }
}

@media (min-width: 1080px) {
  .home {
    max-inline-size: 128rem;
  }

  .home-container {
    display: grid;
    grid-template-rows: 40.5rem 11.3rem auto;
    grid-template-columns: 43.1rem auto;
    column-gap: 8rem;
    row-gap: 0;
    margin-inline: auto;
    padding-inline: 4rem;
  }

  .home-container img {
    grid-row: 1 / -1;
    grid-column: 1;
    margin-block-start: 5.1rem;
    margin-block-end: 0;
    margin-inline-start: 0;
    block-size: 66.1rem;
    inline-size: 43.1rem;
  }

  .home-container h1 {
    grid-row: 1;
    grid-column: 2;
    margin-block-start: 23.1rem;
    height: fit-content;
    margin-block-end: 4.4rem;
  }

  .home-container p {
    grid-row: 2;
    grid-column: 2;
    margin-block-end: 6.6rem;
  }

  .home-container .btn-home {
    grid-row: 3;
    grid-column: 2;
    height: 3.6rem;
    padding: 0;
  } 
}

@media (min-width: 1280px) {
  .home-container {
    margin-inline-start: 21.2rem;
    margin-inline-end: 8.4rem;
    padding: 0;
  }
}