html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font: 400 1.6rem/1.875rem "Roboto", sans-serif;
  color: #000;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

select {
  block-size: 3.3rem;
  appearance: none;
  padding-inline-start: 2.4rem;
  padding-inline-end: 1rem;
  cursor: pointer;
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: block;
}

select:focus, 
select:hover {
  outline: none;
  border: 1px solid #000;
}

input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  border: none;
  cursor: pointer;
  margin: 0;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none; 
  margin: 0;
  padding: 0;
}

@media (min-width: 1080px) {
  select {
    padding-inline-start: 3.7rem;
    padding-inline-end: 1.3rem;
  }
}
