.step-1-container img {
  margin-block-start: 6.1rem;
  margin-block-end: 2.1rem;
  margin-inline-start: 4.4rem;
}

.step-1-container form {
  max-inline-size: 32.6rem;
}

.step-1-container form .select-wrapper {
  margin-block-end: 1.1rem;
}

.step-1-container form .select-wrapper label,
.step-1-container form legend {
  margin-block-end: .3rem;
}

.step-1-container form .financial-market {
  margin-block-end: 2.4rem;
}

@media (max-width: 294px) {
  .step-1-container form .select-wrapper::before {
    inset-block-start: 4.7rem;
  }
}

@media (min-width: 1080px) {
  .step-1 .step-1-container {
    grid-template-rows: 27.5rem 23rem auto;
  }

  .step-1-container img {
    block-size: 52.801rem;
  }

  .step-1-container form {
    max-inline-size: 51.1rem;
    margin-block-start: 14.1rem;
  }

  .step-1-container form .select-wrapper {
    grid-row: 1;
    grid-column: 2;
    margin-block-end: 4.2rem;
  }

  .step-1-container form .select-wrapper label {
    margin-block-end: 1.6rem;
  }

  .step-1-container form .financial-market {
    margin-block-end: 3.2rem;
  }

  .step-1-container form .financial-market legend {
    margin-block-end: .6rem;
  }
}